@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/path/to/poppins.woff2') format('woff2'),
    /* Modern Browsers */
    url('/path/to/poppins.woff') format('woff');
  /* Older Browsers */
  /* Add additional font formats if needed */
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.bg-image {
  background-image: url("../src/assets/bgbanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.bg-imagenew {
  background-image: url("../src/assets/card.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.chartbanner {
  background-image: url("../src/assets/chartbanner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.cardTwo {
  background-image: url("../src/assets/cardTwo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardThree {
  background-image: url("../src/assets/cardThree.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.certificateCard {
  background-image: url("../src/assets/Certificatecard.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.groupsbanner {
  background-image: url("../src/assets/CourseBanner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.calendar-container .react-calendar {
  background-color: transparent;
  border: none;
  color: #333333;

}

.custom-calendar .react-calendar {
  width: 350px;
  /* Adjust the width of the calendar */
  max-width: 100%;
  /* Ensure the calendar doesn't exceed its container's width */
}

.custom-calendar .react-calendar__tile {
  height: 30px;
  /* Adjust the height of each calendar cell */
  line-height: 10px;
  /* Center content vertically within the cell */
}

/* Customize hover effect */
.custom-calendar .react-calendar__tile:hover {
  background-color: #00605D;
  /* Change background color on hover */
  cursor: pointer;
  /* Change cursor on hover */
}

/* Customize selected date color */
.custom-calendar .react-calendar__tile--active {
  background-color: #00605D;
  /* Change background color of selected date */
  color: #333333;
  /* Change text color of selected date */
}

/* Customize the size of each date */
.custom-calendar .react-calendar__tile {
  font-size: 14px;
  /* Adjust the font size of each date */
  padding: 5px;
  /* Adjust the padding of each date */
}

/* Optionally, customize the size of the weekday header */
.custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
  font-size: 10px;
  border-bottom: none;
  /* Adjust the font size of the weekday header */
}

/* Customize today's date color */
.custom-calendar .react-calendar__tile--now {
  width: 35px;
  height: 35px;
  background-color: #00605D;
  color: white;
  border-radius: 50%;
  /* Change background color of today's date */
}

/* Customize tile content color */
.custom-calendar .react-calendar__tile--hasActive:hover {
  background-color: #00605D;
  /* Change background color on hover if has active date */
  color: #333333;
  /* Change text color on hover if has active date */
}

.shape-outer {
  height: 50px;
  width: 160px;
}

.shape-inner {
  height: 50px;
  width: 160px;
}

.ReactModal__Content {
  width: 500px;
  /* Set desired width */
  height: 300px;
  /* Set desired height */
  background: transparent;
}



/* Customize the appearance of each date */
.custom-calendar .react-calendar__tile {
  border-radius: 50%;
  /* Apply rounded corners to each date */
}

.custom-calendar .react-calendar__month-view__days__day:hover {
  background-color: #e2e8f0;
  /* Change background color on hover */
}

/* For Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
}

.cardlink {
  position: absolute;
  top: -20px;
  right: 8px;
}

@media (min-width: 900px) and (max-width: 1200px) {
  .card {
    position: relative;
  }
  .certificateCard{
    border-radius: 5%;
  }
  .cardlink {
    position: absolute;
    top: -6px;
    right: -30px;

  }
}

@media (min-width: 320px) and (max-width: 900px) {
  .card {
    position: relative;
   
  }
  .certificateCard {
    background-image: url("../src/assets/Certificatecard.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .chartbanner {
    background-color:#0A8F8C;
    background-image: none;
  }

  .cardlink {
    position: absolute;
    top: -25px;
    right: -1px;

  }

  .cardThree {
    background-image: url("../src/assets/cardThree.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .custom-calendar .react-calendar {
    width: 100%;

    /* Adjust the width of the calendar */
    max-width: 100%;
    /* Ensure the calendar doesn't exceed its container's width */
  }

  .custom-calendar .react-calendar__tile {
    height: 20px;
    line-height: 10px;

  }

  /* Customize hover effect */
  .custom-calendar .react-calendar__tile:hover {
    background-color: #00605D;
    /* Change background color on hover */
    cursor: pointer;
    /* Change cursor on hover */
  }


  .custom-calendar .react-calendar__tile--active {
    background-color: #00605D;

    color: white;

  }


  .custom-calendar .react-calendar__tile {
    font-size: 14px;

    padding: 5px;

  }


  .custom-calendar .react-calendar__month-view__weekdays__weekday abbr {
    font-size: 10px;
    border-bottom: none;

  }


  .custom-calendar .react-calendar__tile--now {
    width: 35px;
    height: 35px;
    background-color: #00605D;
    color: white;
    border-radius: 50%;

  }


  .custom-calendar .react-calendar__tile--hasActive:hover {
    background-color: #00605D;

    color: white;

  }



  

}